{% extends "books/base.html" %} {% block content %}

<!-- content -->

<article id="team">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <h3>ALL BOOKS</h3>

                <div id="search_container">
                    <form role="search" method="get" action="/games/search/">
                        <div class="input-group search-input-group">
                            <input type="text" class="form-control" id="searchBox" class="form-control" name="q" value="" placeholder="Search">
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="glyphicon glyphicon-search" value="search"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>


                {% if all_books %}

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Publication Year</th>
                                <th>Publisher</th>
                                <th>Page count</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for book in all_books %}
                            <tr>
                                <td>{{ book.book_name }}</td>
                                <td>{{ book.book_author }}</td>
                                <td>{{ book.publication_year }}</td>
                                <td>{{ book.publisher }}</td>
                                <td><small>{{ book.page_count }}</small></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% endif %}

            </div>
            <div class="col-sm-3">
                <h3>LATEST ACTIVITY</h3>
                <table>
                    <tbody id="recent_activity">
                        <tr>
                            <font color="#D3643B">Liisa borrowed: The Hunger Games (The Hunger Games #1)</font>
                        </tr>
                        <br>
                        <br>
                        <tr>
                            <font color="#D3643B">Joel returned: The Bible</font>
                        </tr>
                        <br>
                        <br>
                        <tr>
                            <font color="#D3643B">Admin added: Harry Potter and the Order of the Phoenix</font>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</article>

<!-- content -->


{% endblock %}
